<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <title>Multer Project</title>
  </head>
  <body>
    <div class="container">
      <h1>File Upload</h1>
      <p>
        <%= typeof msg!== 'undefined' ? msg: ""%>
      </p>

      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input type="file" name="myImage" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" required />
          </div>
        </div>
        <button type="submit" class="btn ">Submit</button>
      </form>
      <br />
      <img
        src="<%= typeof file!== 'undefined' ? file: ''%>"
        class="responsive-img"
        alt=""
      />
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </body>
</html>
